body{
  background-color: beige;
}

td, th {
  border: 4px solid;
  border-color: white;
}

h1, td{
  text-align: center;
}

#planets{
  width: 100%;
  border-collapse: collapse;
  font-family: Verdana;
}

td{
  outline: 0.5px dashed navy;
}

th{
  background-color: #0a1f5c;
  opacity: 0.6;
  color: ivory;
  height: 30px;
}

.lightBlue{
  background-color: lightblue;
  height: 70px;
  color: #154eb7;
}

.pic{
  width: 150px;
  height: 150px;
  opacity: 1;
  background-color: black;
}

.firstCol{
  font-weight: bold;
  font-family: Helvetica;
  font-size: 16px;
  opacity: 0.8;
  padding-left: 20px;
  padding-right: 20px;

}

h1{
  opacity: 0.7;
  font-size: 40px;
}

.cornBlue{
  background-color: #6495ed;
  height: 70px;
  color: ivory;
}

.black{
  background-color: black;
}